/*
 * @Author: zhaohuanlei 
 * @Date: 2017-05-18 18:50:06 
 * @Last Modified by: zhaohuanlei
 * @Last Modified time: 2017-05-24 22:50:04
 */
@import "~normalize.css";
img {max-width:100%;}
.wrap {max-width:1160px;height:100%;margin:0 auto;padding:0 20px;}

